[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "_posts"]
	path = _posts/vscode-source-code-analysis
	url = https://github.com/Bistard/vscode-source-code-analysis.git
